#fotarolo {
    max-width: 900px;
    margin: auto;
    border: 5px solid black;
    display: grid;
    grid-template-columns: 300px 300px 300px;
    padding: 5px;
}

.mezo{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 300px;
    border: 1px solid black;
}

.mezo p{
    padding-top: 130px;
}

img {
    width: 100%;
}

#gomb {
    width: 150px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}




